/*!
 * Copyright 2018 Opteqo
 */

 body {
    overflow-x: hidden;
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    /*font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
  }

  a {
    color: #fed136;
  }
  
  a:hover {
    color: #fec503;
  }
  
  .text-primary {
    color: #fed136 !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }

  section {
    padding: 100px 0;
  }
  
  section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  section h3.section-subheading {
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    /*font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    /*font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
  }
  
  @media (min-width: 768px) {
    section {
      padding: 150px 0;
    }
  }

  .btn {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 700;
  }
  
  .btn-xl {
    font-size: 18px;
    padding: 20px 40px;
  }
  
  .btn-primary {
    background-color: #fed136;
    border-color: #fed136;
  }
  
  .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #fec810 !important;
    border-color: #fec810 !important;
    color: #f2f2f2;
  }
  
  .btn-primary:active, .btn-primary:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
  }
  
  ::-moz-selection {
    background: #fed136;
    text-shadow: none;
  }
  
  ::selection {
    background: #fed136;
    text-shadow: none;
  }
  
  img::-moz-selection {
    background: transparent;
  }
  
  img::selection {
    background: transparent;
  }
  
  img::-moz-selection {
    background: transparent;
  }
  p {
    line-height: 1.75;
    font-weight: 300;
  }

  /* MAIN NAVBAR */
  #mainNav {
    background-color: #212529;
  }
  
  #mainNav .navbar-toggler {
    right: 0;
    text-transform: uppercase;
    color: #f2f2f2;
    border: 0;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  #mainNav .navbar-brand img {
    height: 28px;
  }

  /*#mainNav .navbar-brand {
    color: #fed136;
    font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fec503;
  }*/
  
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: #f2f2f2;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fed136;
  }
  
  @media (min-width: 992px) {
    #mainNav {
      padding-top: 25px;
      padding-bottom: 25px;
      -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
      transition: padding-top 0.3s, padding-bottom 0.3s;
      border: none;
      background-color: transparent;
    }
    #mainNav .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
    #mainNav .navbar-brand img {
      height: 40px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
      padding: 1.1em 1em !important;
    }
    #mainNav.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: #212529;
    }

    #mainNav.navbar-shrink .navbar-brand img {
      height: 28px;
    }
    /*#mainNav.navbar-shrink .navbar-brand {
      font-size: 1.25em;
      padding: 12px 0;
    }*/
  }

  /* HEADER */

  header.masthead {
    text-align: center;
    color: #f2f2f2;
    background-image: url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }
  
  header.masthead .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
  }
  
  header.masthead .intro-text .intro-lead-in {
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
    font-weight: 300;
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    /*font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
  }
  
  header.masthead .intro-text .intro-heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  @media (min-width: 768px) {
    header.masthead .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
    }
    header.masthead .intro-text .intro-lead-in {
      font-size: 40px;
      font-style: italic;
      line-height: 40px;
      margin-bottom: 25px;
      font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
      /*font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
    }
    header.masthead .intro-text .intro-heading {
      font-size: 75px;
      font-weight: 700;
      line-height: 75px;
      margin-bottom: 50px;
      font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }
  }

  /* FEATURES */

  .features-icons {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  .features-icons .features-icons-item {
    max-width: 20rem;
  }
  
  .features-icons .features-icons-item .features-icons-icon {
    height: 7rem;
  }
  
  .features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
  }
  
  .features-icons .features-icons-item:hover .features-icons-icon i {
    font-size: 5rem;
  }

  @media (min-width: 768px) {
    .features-icons {
      padding-top: 7rem;
      padding-bottom: 7rem;
    }
  }

  /* IMG SHOWCASES */

  section.showcase {
    padding: 0;
  }

  .showcase .showcase-text {
    padding: 3rem;
  }
  
  .showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
  }
  
  @media (min-width: 768px) {
    .showcase .showcase-text {
      padding: 7rem;
    }
  }

  /* TEAM */

  .testimonial-item {
    max-width: 20em;
    text-align: center;
  }
  
  .testimonial-item img {
    width: 225px;
    height: 225px;
    border: 7px solid #fff;
  }
  
  .testimonial-item h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  
  .testimonial-item p {
    font-weight: 300;
    margin-top: 10px;
  }

  /* CONTACT */

  section#contact {
    background-color: #fbbc05;
    background-image: url("../img/map-image.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  /*section#contact .section-heading {
    color: #f2f2f2;
  }*/

  section#contact .section-heading i {
    color: #ea4335;
  }

  section#contact h5 {
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 300;
  }

  section#contact a {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 700;
  }
  
  section#contact .form-group {
    margin-bottom: 25px;
  }
  
  section#contact .form-group input,
  section#contact .form-group textarea {
    padding: 20px;
  }
  
  section#contact .form-group input.form-control {
    height: auto;
  }
  
  section#contact .form-group textarea.form-control {
    height: 248px;
  }
  
  section#contact .form-control:focus {
    border-color: #fed136;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  section#contact ::-webkit-input-placeholder {
    font-weight: 300;
    color: #ced4da;
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  section#contact :-moz-placeholder {
    font-weight: 300;
    color: #ced4da;
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  section#contact ::-moz-placeholder {
    font-weight: 300;
    color: #ced4da;
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  section#contact :-ms-input-placeholder {
    font-weight: 300;
    color: #ced4da;
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }

  /* FOOTER */

  footer {
    padding: 25px 0;
    text-align: center;
  }
  
  footer span.copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  footer ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }